
@{
    ViewBag.Title = "Jerry";
}
<!-- Let's be clear, this was a copy-paste from the old website. There is way, way too much CSS.-->
<h2 style="text-align:center;">Coach Jerry Alexander</h2>
<span class="imgPusher" style="float:left;height:141px"></span><span style="position:relative;float:left;z-index:1;;clear:left;margin-top:20px;*margin-top:40px"><a><img class="wsite-image galleryImageBorder" src="~/Assets/Images/Jerry/faces-of-pacers-jerry.jpg" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;" alt="Picture"></a><div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div></span>
<div class="paragraph" style="text-align:left;display:block;">
    <br>
    Jerry Alexander was a walk-on at Columbia who was highly motivated to improve in order to avoid being dropped on runs through Harlem. As a senior, Jerry was captain
    of the Lions Cross Country and Track squads. used his final year of track eligibility as a first year law student at Vanderbilt, where he broke the school record in
    the steeplechase. Jerry’s running “career” was cut short by injury, which prompJerry ted him to take up the noble art of coaching. &nbsp;&nbsp;
    <br><br>
    Because Jerry subscribes to the proposition that the coach gets full credit for all successes (and its corollary that the coach takes no blame for any failures),
    he is quick to take credit for the excellent results achieved by GRC men on his watch, including the astounding 24th place finish of Kieran O’Connor at the 2016 Olympic 
    Trials marathon, the 8th place finish of the men’s team at the 2017 USATF Club Cross Country Championship, the victory in the 2018 Millrose Games Distance Medley Relay, 
    the 2014 Penn Relays 10,000 meter championship won by Michael Franklin, club records by Lucas Stalnacker (8k-23:46, 10,000-29:27 ), Luke Meyer (10 miles-48:46), 
    Michael Franklin (1500-3:53.3, 3000-8:17), Kieran O’Connor (road 5k-14:35, half marathon 1:04:38), Paul Thistle (9:00.5 steeplechase), Sam Luff (5000-14:15), Ryan
    Witters (mile-4:12.1) and Jerry Greenlaw (15k-47:57), as well as big PRs run by, among others, Kieran O’Connor (2:20:47 marathon), Lucas Stalnacker (1:05:26 half 
    marathon), Carlos Jamieson (29:34 10,000), Stewart Reich (8:34 3000, 14:30 5000, 29:46 10,000), Jerry Greenlaw (2:26:50 marathon), Kevin McNab (50:28 10 mile), Blake
    Taneff (1:06:54 half marathon), Joe Wiegner (14:34 5k, 30:31 10k), Ryan Speir (2:29:16 marathon), Ryan Hanson (8:23 3000), Jake Klim (30:52 10k, 1:09:19 half 
    marathon), Paul Balmer (15:13 5000, 51:58 10 mile, 1:09:17 half marathon), Evan Jurkovich (1:09:24 half marathon, 2:27:37 marathon), Cabell Willis (3:53.9 1500,
    14:41 5k), Dickson Mercer (1:09:57 half marathon), Kyle Wagener (14:47 5000), Zak Miller (2:33:21 marathon), Matt Hassett (15:06 5000, 31:27 10k), Lukasz Oleginski
    (15:01 5000), Sebi Devlin-Foltz (15:10 5000), David Wertz (15:11 5000, 31:30 10k), and Jason Myers (4:01 1500, 25:17 8k), and for Sean Barrett’s qualification for 
    the 2013 World Military Cross Country Championships, where he placed third for the United States in the long course race.&nbsp;</div>
<hr style="clear:both;visibility:hidden;width:100%;">

<span class="imgPusher" style="float:right;height:100px"></span><span style="display: table;width:auto;position:relative;float:right;max-width:100%;;clear:right;margin-top:20px;*margin-top:40px"><a><img src="~/Assets/Images/Jerry/JerryOT.jpg" style="margin-top: 10px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:0; max-width:100%" alt="Picture" class="galleryImageBorder wsite-image"></a><span style="display: table-caption; caption-side: bottom; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span></span>
<div class="paragraph" style="display:block;">
    Jerry also claims full credit for the transformation of the GRC’s women’s team into a burgeoning national power, which 
    was amply demonstrated by the team’s outstanding 6th place finish in the 2016 USATF Club Cross Country Championships, and victory in the Distance Medley Relay at
    the 2017 Millrose Games.&nbsp; Among the excellent individual performances by GRC women for which Jerry claims credit are the 8th place finish of Frances Koons at
    the 2014 Clubs XC, which earned her a spot on the United States team that competed at the BUPA Great Edinburgh International Cross Country race in Scotland, where
    she placed 8th, and was the 3rd American,&nbsp; Emily de La Bruyere’s qualification for the 3000 meter steeplechase at the 2017 and 2018 USATF Outdoor Championships,
    and Maura Linde’s 20th place finish at the 2017 USATF Clubs XC Championship.&nbsp; Jerry also takes credit for Frances Koons’s 2015 Penn Relays 5,000 meter 
    championship and her club records on the track (10,000-33:17) and the roads (8k-26:27, 10k 34:13), Teal Burrell’s 72nd place finish and Emily Potter’s 102nd
    place finish at the 2016 Olympic Trials Marathon, the 2016 and 2017 Penn Relays championships in the 10,000 won by Stephanie Reich, the 2016 Penn Relays 5000
    championship won by Frances Loeb, club records run by Stephanie Reich (1500-4:27.9, road 5k-16:42, 10 mile-56:29), Emily de La Bruyere (3000-9:31.6, 5000-16:15.3,
    steeplechase-9:59.33), Alex Morris (800-2:08.87), Susan Hendrick (road mile 4:49), and Drea Garvue (15k-56:51), and huge PRs run by, among others, Cecilia Barowski
    (2:02.14 800), Stephanie Reich (16:25 5000, 34:12 10,000, 1:15:45 half marathon), Teal Burrell (1:18:53 half marathon, 2:42:13 marathon), Lindsay O’Brien (34:38 10k,
    57:47 10 mile), Maura Linde (16:27 5000, 59:11 10 mile), Kerry Allen (28:46 8k, 58:57 10 mile, 1:17:45 half marathon, 2:51:55 marathon), Hilary May (4:32 1500, 9:52
    3000, 16:56 5000), Alex Morris (4:34 1500), Beth Young (1:17:18 half marathon, 2:49:30 marathon), Kristin Johnson (59:40 10 mile, 1:19:21 half marathon, 2:48:06 marathon),
    Hannah Rowe (59:21 10 mile), Michelle Miller (35:36 10k, 59:20 10 mile, 1:19:41 half marathon), Frances Loeb (59:59 10 mile), Elena Barham (9:45 3000, 16:51 5000, 1:21:14
    half marathon), Maura Carroll (17:27 5000, 35:45 10k, 59:56 10 mile, 1:19:46 half marathon, 2:52:26 marathon), Alex Morris (4:34.8 1500), Catherine Campbell (4:49 1500,
    10:07 3k, 17:08 5k), Kate Dart (1:20:19 half marathon, 2:53:18 marathon), Julie Tarallo (1:20:40 half marathon, 2:51:55 marathon), Keely Eckberg (2:56:18 marathon),
    Natalie Patterson (2:59:10 marathon), and Greta Stults (2:59:58 marathon).&nbsp;
</div>

<hr style="width:100%;clear:both;visibility:hidden;">

<span class="imgPusher" style="float:left;height:0px"></span><span style="display: table;width:auto;position:relative;float:left;max-width:100%;;clear:left;margin-top:0px;*margin-top:0px"><a><img src="~/Assets/Images/Jerry/JerryPenn2016.jpg" style="margin-top: 10px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:0; max-width:100%" alt="Picture" class="galleryImageBorder wsite-image"></a><span style="display: table-caption; caption-side: bottom; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span></span>
<div class="paragraph" style="display:block;">
    Before he started working with post-graduate athletes, Jerry was a college coach in the DC area.&nbsp; When Jerry became 
    Head Coach at the University of the District of Columbia in 1995, he inherited a program that was in complete disarray. In his two years at UDC, Jerry recruited and 
    coached an athlete who qualified for Division II nationals in the 800 and 1500 in indoor and outdoor track, but his rebuilding project was cut short when budget problems
    led to the suspension of the athletic department. Jerry moved to American University where he was Assistant Coach for seven years, during which time he recruited and
    coached All-Americans Sean O’Brien, Sean Duffy, and Samia Akbar. &nbsp;<br><br>Jerry also coaches the Northern Virginia Running Club, a community-based team where he
    has worked with numerous standout women distance runners, including Jessica McGuire, who qualified for the 2020 Olympic Trials Marathon with a huge PR of 2:43:55, 
    former LaSalle All-American Kathy Liever, and Martha Merz, who broke the 17 year-old American Record for 10,000 meters for runners over 45 years-old at the 2008 Penn
    Relays. &nbsp;<br><br>Jerry lives in Bethesda with his wife Michelle, who only runs when she’s chasing their son Jacob (Columbia class of 2025) who will be a many-time
    Olympian in a track or field event yet to be determined. When he’s not devising new and unique ways to whip his runners into shape, Jerry is a Trial Attorney with the 
    United States Department of Justice.&nbsp;
    <br>
</div>
<hr style="width:100%;clear:both;visibility:hidden;">

<div>
    <div style="height: 20px; overflow: hidden; width: 100%;"></div>
    <hr class="styled-hr" style="width:100%;">
    <div style="height: 20px; overflow: hidden; width: 100%;"></div>
</div>