
@{
ViewBag.Title = "Index";
}

<h2 class="wsite-content-title" style="text-align:center;">New Members<br /></h2>

<div class="paragraph">
    Since the club is incorporated and insured by the Road Runners Club of America, we need new members to review and sign a few forms.&nbsp;
    We also require members to sign the GRC Code of Conduct, and we give you the option to sign the image release form.&nbsp; Please download
    these forms, sign them, and either return the signed form in person to a member of the GRC Board or Coach Jerry, or email a scanned PDF
    of the signed form to a member of the GRC Board or Coach Jerry.
    <br /><br />
    <a href="~/Assets/Documents/grc_member_waiver.pdf" title=""><span>GRC Member Waiver</span></a>
    &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a title="" target="_blank" href="~/Assets/Documents/grc_code_of_conduct.pdf">GRC Code of Conduct</a>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
    <a title="" target="_blank" href="~/Assets/Documents/grc_photorelease.pdf">GRC Image Release Form</a>
    <br /><br /><span>The team will also need some personal information for our team roster and to build your runner profile for this website.
    &nbsp; When you are providing your runner profile, feel free to look at the existing
    @(Html.ActionLink("runner profiles", "Index", "Roster", null, null)) for a sense of what you should say.&nbsp;&nbsp;</span>
    <br /><span><br /></span>
    <br /><span>Please email coach [at] grcrunning.com with your name, PRs and contact information.</span>
    <br />
    <br /><span></span>
</div>