@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Email <a href="mailto:info@grcrunning.com">info@grcrunning.com</a> for more information about the team.
</address>