@model GRCWebsite.Models.ProfileModel
@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

@if (ViewBag.CanEdit)
{
    Html.RenderPartial("_EditProfile");
}
@{Html.RenderPartial("_PersonalProfile");}
