
@{
    ViewBag.Title = "Lauren";
}

<h2>Lauren Woodall Roady</h2>

<h2 class="wsite-content-title" style="text-align:center;"><font size="6">Lauren Woodall Roady</font><br /><font size="3"><span>October 20, 1985 - December 8, 2012</span></font><br /></h2>

<div class="paragraph" style="text-align:center;"><font size="4">@Html.ActionLink("Running Profile", "ProfilePage", "Roster", new { Id = 2 }, null) </font><br /></div>

<div>
    <div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
        <a>
            <img src="~/Assets/Images/Lauren/Lauren.jpg" alt="Picture" style="width:100%;max-width:1100px" />
        </a>
        <div style="display:block;font-size:90%"></div>
    </div>
</div>

<div class="paragraph" style="text-align:center;">
    <br />
    <strong><a href="https://friendsofthesmokies.org/donate/?t=panel2-3" target="_blank"><font size="4">Click here to donate to the Friends
    of the&nbsp;Smokies in&nbsp;memory of Lauren Woodall Roady</font></a></strong><br /><br />Read about Lauren's racing&nbsp;tenacity in (@Html.ActionLink("A Duel On the Mall", "Duel", "Memoriam")), written by teammate Brian Young.
    <br /><br />
    Watch this GRC <a href="http://vimeo.com/55804978"><font color="#3366ff">Video</font></a>&nbsp;tribute.
    <br /><br />
    Watch <a href="https://drive.google.com/drive/folders/1nwC379YviztXxv4VvoKEVzMPSdv4fUIl" target="_blank">Coach Jerry pay tribute to Lauren</a> at the 2017 USATF Club Cross Country Championships
    <br /><br />
</div>

<div class="paragraph" style="text-align:left;"><font size="4">Lauren's story:</font>
    <br /><br />It is with heavy hearts that we mourn the death of our teammate, @(Html.ActionLink("Lauren Woodall Roady", "ProfilePage", "Roster", new { Id = 2 }, null)).
    She was struck by a fire truck that was not on call&nbsp;Saturday night&nbsp;in Lexington, KY, which police say killed her instantly. Earlier that afternoon, Lauren had competed for the Georgetown Running Club in the the USATF Club Cross Country National Championships.&nbsp;<br /><br />Lauren was new to the sport of running and she showed amazing talent and promise, on top of an enthusiastic and engaging personality. While training with us for the last nine months, she lowered virtually all of her personal records dramatically, nearly every time she raced. Nobody worked harder or trained smarter than Lauren. But moreover, her enthusiasm for the sport she had so recently embraced and her quiet, but strong presence inspired the whole women's team to push a little harder in every workout. Her fresh approach and constant improvement embodied the joy of training and racing. Lauren's steady, inspiring, and cheerful presence will forever be missed.<br /><br />Our team also extends our condolences and thoughts to Lauren's husband of two months, Peter, and her family.<br /><br />The team organized a trip to celebrate her life the week after her passing with her family and friends with a two-mile run, followed by a memorial service.<br /><br /><br /><font size="4">Lauren's legacy:</font><br /><br />In lieu of flowers, please consider making a donation in Lauren&rsquo;s name to the Friends of Great Smoky Mountains National Park. The organization supports <a href="http://www.nps.gov/grsm/planyourvisit/cadescove.htm">Cade's Cove</a>, a valley her husband Peter called one of her most treasured places, which her family visited frequently to camp and hike. As she committed further to running, she made runs there a habit during her trips home. The maintenance budget for the park has suffered lately. To learn more about this organization, you can visit: &nbsp;<a href="http://www.friendsofthesmokies.org/">http://www.friendsofthesmokies.org</a><br /><br />You can make such a donation to:<br /><br />Lauren Woodall Roady Fund<br />Friends of Great Smoky Mountains National Park<br />P.O. Box 1660<br />Kodak, TN 37764-7660<br /><br /></div>