body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* From old site -- REVIEW */
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, div.paragraph, blockquote, fieldset, input {
    margin: 0;
    padding: 0;
}

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

fieldset {
    border: 0;
}

a img {
    border: 0;
}

.clear {
    clear: both;
}

body {
    background-color: #666666;
    background: url(theme/bodybg.jpg?1546465533) center repeat-y;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    margin: 0;
    padding: 0;
}

div.paragraph {
    line-height: 170%;
    color: #e7e7e7;
    font-size: 14px;
    margin: 5px 0px 5px 0px;
}

p {
    line-height: 170%;
    color: #e7e7e7;
    font-size: 14px;
    margin: 5px 0px 5px 0px;
}

h1 {
    color: #cccccc;
    font-size: 30px;
    font-style: italic;
    margin: 0px 0px 10px 0px;
}

h2 {
    font-size: 24px;
    font-weight: normal;
    font-family: "Arial", Helvetica, sans-serif;
    color: #ffffff;
    line-height: 1.5;
    margin: 10px 0px 7px 0px;
}

#wrapper {
    width: 960px;
    margin: 0pt auto;
}

#wsite-menus .wsite-menu-wrap {
    z-index: 5000;
    margin: 0px 0px 0px 10px;
}

#wsite-menus .wsite-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

    #wsite-menus .wsite-menu li {
        float: left;
        clear: left;
        width: 163px;
        text-align: left;
    }

        #wsite-menus .wsite-menu li a {
            position: relative;
            display: block;
            width: 161px;
            background: #333333;
            border-top: 1px solid #4b4b4b;
            border-right: 1px solid #4b4b4b;
            border-bottom: 0px solid #4b4b4b;
            border-left: none;
            text-decoration: none;
            font-size: 13px;
            font-weight: normal;
            line-height: 1;
            padding: 5px 0px 5px 0px;
            color: #cccccc;
        }

            #wsite-menus .wsite-menu li a:hover {
                background: #4f4e4e;
                color: #fff;
            }

#container {
    width: 960px;
}

#content {
    width: 717px;
    min-height: 500px;
    _height: 500px;
    padding: 10px 0px 15px 0px;
}

    #content a {
        color: #d37d1a;
        font-size: 14px;
        text-decoration: none;
    }

#leftcolumn {
    float: left;
    width: 204px;
    padding: 104px 15px 0px 0px;
}

    #leftcolumn ul {
        float: right;
    }

        #leftcolumn ul li {
            margin: 5px 0px 0px 0px;
        }

            #leftcolumn ul li a {
                color: #ffffff;
                width: 187px;
                height: 33px;
                display: block;
                font-size: 20px;
                font-style: italic;
                text-align: right;
                text-decoration: none;
                padding: 3px 17px 0px 0px;
            }

                #leftcolumn ul li#active a, #leftcolumn ul li a:hover {
                    background: url(theme/navbg.png?1546465533) no-repeat;
                    _background: none;
                    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='files/theme/navbg.png?1546465533', sizingMethod='crop');
                }

#rightcolumn {
    float: left;
    width: 717px;
    padding: 0px 0px 0px 24px;
}

#header {
    width: 717px;
    padding: 34px 0px 0px 0px;
}

#sitename {
    width: 717px;
    color: #cccccc;
    font-size: 30px;
    font-style: italic;
    padding: 0px 0px 0px 0px;
}

#footer {
    width: 717px;
    color: #666666;
    font-size: 14px;
    text-align: right;
    padding: 20px 0px 20px 0px;
    border-top: 1px dotted #666666;
}

    #footer a {
        color: #d37d1a;
        text-decoration: none;
    }

    #footer .weebly-footer a {
        color: #666666;
    }

@font-face {
    font-family: 'si';
    src: url('theme/grcrunning.com/files/theme/socicon.eot?1546465533');
    src: url('theme/grcrunning.com/files/theme/socicon.eot?#iefix?1546465533') format('embedded-opentype'), url('theme/grcrunning.com/files/theme/socicon.woff?1546465533') format('woff'), url('theme/grcrunning.com/files/theme/socicon.ttf?1546465533') format('truetype'), url('theme/grcrunning.com/files/theme/socicon.svg#icomoonregular?1546465533') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: si;
        src: url(theme/PATH_TO/socicon.svg?1546465533) format(svg);
    }
}

.soc {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .soc li {
        display: inline-block;
        *display: inline;
        zoom: 1;
    }

        .soc li a {
            font-family: si !important;
            font-style: normal;
            font-weight: 400;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -o-box-sizing: border-box;
            box-sizing: border-box;
            overflow: hidden;
            text-decoration: none;
            text-align: center;
            display: block;
            position: relative;
            z-index: 1;
            width: 80px;
            height: 80px;
            line-height: 80px;
            font-size: 44px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            margin-right: 10px;
            color: #ffffff;
            background-color: none;
        }

.button {
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    float: left;
    position: relative;
    height: 30px;
    width: 30px;
    margin-left: 0px;
    opacity: .5;
}

    .button:hover {
        transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -webkit-transition: all .25s ease-in-out;
        opacity: 1;
        -webkit-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, .5);
        box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, .5);
    }

    .button img {
        margin-top: -10px;
        margin-left: -10px;
    }

#img_2 {
    margin: 0;
}

div.paragraph ul, div.paragraph ol {
    padding-left: 3em !important;
    margin: 5px 0 !important;
}

div.paragraph li {
    padding-left: 5px !important;
    margin: 3px 0 0 !important;
}

div.paragraph ul, div.paragraph ul li {
    list-style: disc outside !important;
}

div.paragraph ol, div.paragraph ol li {
    list-style: decimal outside !important;
}

blockquote {
    margin: 10px 0;
    padding-left: 20px;
    border-left: 4px solid #ddd;
    font-style: italic;
    line-height: 170%;
}